body{
    background-color: black;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
div{
    width:350px;
    padding-top:100px;
    background-color:#151515;
    margin-top: 80px;
    border-radius: 2%;
}
h5{
    color:#FFF176;
}
p{
    padding-bottom: 30px;
    font-size: small;
}
button{
    text-align: center;
    font-weight: bold;
    width:250px;
    background-color: #292929;
    color:white;
    border:none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding:10px 0px 10px 0px;
}
